fastapi
uvicorn
python-dotenv
pydantic
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-qdrant
langgraph
qdrant-client
pypdf
langchain-text-splitters
pandas
datasets
ragas